.calculator-section {
    position: relative;
    background-image: url(../img/bg/calculator-gbo.webp);
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.calculator-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.calculator-section .container {
    position: relative;
    z-index: 2;
    width: 100%;
}

.calculator {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* margin-top: 10vh; */
}

.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #FFFFFF;
}

input,
select {
    width: 100%;
    font-weight: bold;
    box-sizing: border-box;
    padding: 14px 18px;
    border-radius: 6px;
    font-size: 16px;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
    font-family: inherit;
    min-height: 50px;
    color: #FFFFFF;
    backdrop-filter: blur(10px);
}

select option {
    background: rgba(255, 255, 255, 0.1);
    color: #000;
    padding: 10px;
}

.result {
    text-align: center;
    width: 100%;
    margin: 0px auto;
}

.result h3 {
    margin-top: 0;
    color: #FFFFFF;
}

.result-value {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}

@media (max-width: 768px){
}