/* Styles for Desktop devices */
.container {
    max-width: auto;
    padding: 32px 32px 32px 32px;
    margin: 0 auto;
}

/* Styles for Tablet devices */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 768px;
        padding: 32px 32px 32px 32px;
        margin: 0 auto;
    }
}

/* Styles for Mobile devices */
@media only screen and (max-width: 440px) {
    .container {
        min-width: 320px;
        max-width: 375px;
        margin: 0 auto;
        padding: 18px 18px;
    }

}