.faq-container {
    display: flex;
    gap: 30px;
}

.faq-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 70%;
    margin: 0px auto;
}

.faq-item {
    border-radius: 12px;
    overflow: hidden;
    background: #FFFFFF; /* Добавляем белый фон для всего элемента */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Тень для объема */
    border: 1px solid #e0e0e0; /* Граница для четкости */
    transition: all 0.3s ease;
}

.faq-question {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.1rem;
    background: linear-gradient(to right, #005BBB 0%, #66b3ff 25%, #FFFFFF 45%, #FFFFFF 55%, #ffeb99 75%, #FFD500 100%);
}

.faq-question:hover {
    background: linear-gradient(to right, #005BBB 0%, #66b3ff 40%, #FFFFFF 60%, #FFFFFF 70%, #ffeb99 85%, #FFD500 100%);
}

.faq-question span {
    color: #121212;
    transition: color 0.3s ease;
}

.faq-icon {
    font-size: 1.5rem;
    font-weight: 300;
    transition: transform 0.3s ease;
    color: #121212;
}

.faq-answer {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    background-color: #f6f8fa;
}

.faq-answer p {
    margin-top: 12px;
    padding: 0 0 20px 0;
    line-height: 1.6;
    opacity: 0.9;
}

.faq-item.active .faq-answer {
    max-height: 300px;
}

.faq-item.active .faq-icon {
    transform: rotate(45deg);
}

@media (max-width: 768px) {
    .faq-container {
        flex-direction: column;
        gap: 15px;
        margin-left: 30px;
    }

    .faq-section h2 {
        font-size: 2rem;
    }

    .faq-question {
        padding: 15px;
        font-size: 1rem;
    }

    .faq-section h2 {
        font-size: 36px;
    }

    .faq-column {
        max-width: none;
    }
}