.footer > .container{
    background-color: #121212;
}

.footer .container {
    display: flex;
    justify-content: space-between;
}

.footer-social,
.footer-contacts,
.footer-map {
    flex: 1;
    padding: 0 20px;
}

.footer-social,
.footer-contacts {
    border-right: 1px solid #FFFFFF;
    /* Красный разделитель */
}

.footer-map {
    border-right: none;
}

.footer-map>iframe {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.social-link{
    display: flex;
    justify-content: space-between;
}

.footer h3{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 24px;
    font-size: 20px;
}

.footer-contacts-list svg.contact-icon {
    width: 20px;
    height: 20px;
}

.footer-contacts-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-contacts-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 10px;
}

.contact-icon {
    width: 18px;
    height: 18px;
    color: #FFFFFF;
    flex-shrink: 0;
}

.phone-link {
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: inherit;
}
