.hero {
    position: relative;
    background-image: url(../img/main-img.webp);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
    width: 100%;
}

.hero-div {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
}

.section-title h1 {
    display: inline-block;
    font-weight: bold;
    position: relative;
    padding-bottom: 15px;
    color: #FFFFFF;
    font-size: 52px;
    margin-bottom: 40px;
}

.section-title h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: #E5252A;
    border-radius: 2px;
}

.section-title h1 {
    display: inline-block;
    font-weight: bold;
    position: relative;
    padding-bottom: 15px;
    color: #FFFFFF;
    font-size: 52px;
    margin-bottom: 40px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

.section-title h1.visible {
    opacity: 1;
    transform: translateY(0);
}

.section-title h1::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #E5252A;
    border-radius: 2px;
    transition: width 0.8s ease 1s;
    /* Задержка 1 секунда */
}

.section-title h1.visible::after {
    width: 100px;
}

.details-hero-btn {
    background: linear-gradient(135deg, #E5252A 0%, #F77A2D 50%, #E5252A 100%);
    color: #FFFFFF;
    padding: 12px 35px;
    border-radius: 25px;
    margin-top: 16px;
    display: block;
    margin-right: auto;
    border: none;
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 0 15px rgba(229, 37, 42, 0.6);
    animation: gradientFlow 4s ease infinite;
    cursor: pointer;
    font-weight: bold;
    background-size: 200% 200%;
}


@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.details-hero-btn:hover,
.details-hero-btn:focus {
    animation: none;
    /* Останавливаем анимацию при ховере */
    background: linear-gradient(135deg, #F77A2D 0%, #E5252A 100%);
    box-shadow: 0 0 25px rgba(247, 122, 45, 0.9);
    transform: translateY(-2px);
}