.hero {
    position: relative;
    background-image: url(../img/bg/hero-gbo-img.webp);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px);
    z-index: 1;
}

.hero .container {
    position: relative;
    z-index: 2;
    margin-left: 80px;
}

.hero h1 {
    margin-top: 35vh;
    color: #FFFFFF;
    font-size: 48px;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.hero h1.visible {
    opacity: 1;
    transform: translateY(0);
}

.hero-sub-title {
    color: #FFFFFF;
    font-size: 22px;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease 0.5s, transform 0.8s ease 0.5s;
    /* Задержка 0.5s */
}

.hero-sub-title.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes gradientFlow {

    0%,
    100% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 36px;
        max-width: 80%;
    }

    .hero .container {
        margin-left: 30px;
    }

    .hero-sub-title {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 28px;
        max-width: 90%;
    }

    .hero-sub-title {
        font-size: 16px;
    }
}