.price-linzi {
    position: relative;
    background-image: url(../img/bg/price.webp);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.price-linzi::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 1;
}

.price-linzi .container {
    position: relative;
    z-index: 2;
}

.price-subtitle {
    color: #ffff;
    margin-bottom: 24px;
    font-style: italic;
}

/* Таблица прайса */
.price-table {
    max-width: 1000px;
    margin: 0 auto 40px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.price-row {
    display: flex;
    align-items: center;
    padding: 18px 25px;
    border-bottom: 1px solid #eee;
    transition: background 0.3s ease;
}

.price-row:hover {
    background: rgba(0, 0, 0, 1);;
}

.price-row:last-child {
    border-bottom: none;
}

/* Элементы строки */
.service-name {
    flex: 1;
    font-size: 20px;
    font-weight: 700;
    color: #ffff;
    padding-right: 15px;
}

.price-dots {
    flex-grow: 1;
    border-bottom: 2px dotted #ddd;
    height: 8px;
    margin: 0 10px;
    min-width: 30px;
    align-self: flex-end;
}

.service-price {
    font-weight: 700;
    color: #ffff;
    font-size: 18px;
    white-space: nowrap;
    min-width: 140px;
    text-align: right;
}

/* Адаптивность */
@media (max-width: 768px) {
    .price-title {
        font-size: 28px;
    }

    .price-row {
        flex-wrap: wrap;
        padding: 15px 20px;
    }

    .service-name {
        flex: 100%;
        margin-bottom: 8px;
        padding-right: 0;
        font-size: 15px;
    }

    .price-dots {
        display: none;
    }

    .service-price {
        flex: 100%;
        text-align: left;
        min-width: auto;
        font-size: 16px;
    }


}

@media (max-width: 480px) {
    .price-title {
        font-size: 24px;
    }

    .price-subtitle {
        font-size: 14px;
    }

    .price-row {
        padding: 12px 15px;
    }
}