.text-content{
    position: relative;
    background-image: url(../img/bg/pexels-photo-11262462.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #f3f3f3;
}

.text-content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    filter: grayscale(100%);
}

.text-content .container{
    position: relative;
    z-index: 2;
    width: 100%;
}

.text-content h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}

.main-content{
    max-width: 90%;
    margin: 0px auto;
}

.text-content h3 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
}

.text-content h2::after, .text-content h3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 3px;
    background-color: #E5252A;
    border-radius: 2px;
}

.text-content p, .text-content h4 {
    font-size: 16px;
}

.text-content h4{
    margin-top: 8px;
}