/* Sections style */
@import url('./css/reset.css');
@import url('./css/container.css');
@import url('./css/header.css');
@import url('./css/footer.css');
@import url('./css/callback.css');
@import url('./css/hero.css');
@import url('./css/bi-led-hero.css');
@import url('./css/main-hero.css');
@import url('./css/experience.css');
@import url('./css/content-linzi.css');
@import url('./css/price-linzi.css');
@import url('./css/faq.css');