/* Sections style */
@import url('./css/reset.css');
@import url('./css/container.css');
@import url('./css/header.css');
@import url('./css/footer.css');
@import url('./css/callback.css');
@import url('./css/experience.css');
@import url('./css/gbo-station.css');
@import url('./css/hero.css');
@import url('./css/price.css');
@import url('./css/calculator.css');
@import url('./css/faq.css');
@import url('./css/vidguki.css');
@import url('./css/pro-nas.css');
@import url('./css/bi-led-hero.css');